@media (max-width: 575px) {
    .home_wrapper {
        height: 500px;
    }
    .about_wrapper_title {
        padding: 0;
        background-color: transparent;
        color: #333;
        left: 0;
        margin-top: 35px;
    }
    .about_wrapper_title {
        padding-left: 10px !important;
    }
    .testimonial_slider .testimonial_img {
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0%;
        position: static;
        left: auto;
        top: auto;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    .testimonial_slider .swiper-slide {
        padding: 30px !important;
    }
    .blog_single_item img {
        width: 350px;
    }
    .work_item_details h5 {
        font-size: 20px;
    }
    .work_item_details p {
        font-size: 14px;
    }
    .work_single_item:hover .work_link_icon {
        bottom: 20px;
    }
    .go_top {
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 350px) {
    .home_wrapper_content h2 {
        font-size: 50px !important;
    }
    .home_wrapper_content p {
        font-size: 18px !important;
        padding-left: 50px !important;
    }
    .scroll_down a {
        display: block;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .contact_message {
        margin-bottom: 30px;
    }
    .contact_info {
        margin-bottom: 40px;
    }
    .about_wrapper_title {
        margin: 40px 0 10px;
    }
    .blog_title {
        margin-left: 0px;
    }
    .mt-sm-0{
        margin-top: 0 !important;
    }
}

@media (max-width: 991px) {
    .mt-md-40{
        margin-top: 40px;
    }
    .menu_btn {
        opacity: 1;
        visibility: visible;
    }
    header.h-100 {
        background-color: #4E47D8;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    .nav-link {
        display: inline-block;
        margin-bottom: 8px;
    }
    .nav-link:hover,
    .nav-link.active {
        color: rgb(201, 161, 115);
    }
    nav {
        text-align: center;
        position: fixed;
        width: 100%;
        left: 0;
        line-height: 50px;
        padding-top: 80px;
        background-color: #0F0F1B;
        -webkit-transition: .3s;
        transition: .3s;
        height: 100%;
        top: -100%;
        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;
    }
    nav ul li a::after {
        display: none;
    }
    nav.show {
        top: 0;
        opacity: 1;
        visibility: visible;
        transition-delay: .3s;
        -webkit-transition-delay: .3s;
        -moz-transition-delay: .3s;
        -ms-transition-delay: .3s;
        -o-transition-delay: .3s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        display: inline-block;
        font-size: 15px;
    }
    nav ul li:last-child a {
        margin-right: 15px !important;
    }
    .home_wrapper_content h1 {
        font-size: 62px;
    }
    .promotion_wrapper h2 {
        font-size: 27px;
    }
    .home_wrapper_content h2 {
        font-size: 60px;
    }
    .home_wrapper_content p {
        font-size: 20px;
    }
}